html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.startbase-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.startheader {
    overflow: hidden;
    background-image: url("../static/gradient.png");
    background-size:cover;
    padding: 15px 10px;
    font-weight: 600;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2); */
} 


.startheader a {
    float: left;
    color: #f1f1f1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: large; 
    line-height: 20px;
    border-radius: 4px;
    
}
.startheader img {
    width: 10em;
    float: left;
    margin-left: 1%;
}
.startheader a img:hover {
    background-color: transparent;
    background: transparent; /* TODO: jaisdjasd */
}
.startheader a:hover {
    background-color: #2353FF;
}
.startheader a.active {
    background-color: #0e2a91;
    color: white;
}
.startheader-right {
    float: right;
}
.slides {
}
.slideChild {
    display: block;
    margin-left: 15%;
    margin-right: auto;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #b6b6b6 !important;
  }
 